<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="/org/springframework/boot/logging/logback/base.xml"/>

    <logger name="io.netty" level="INFO"/>
    <logger name="reactor" level="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <timestamp key="bySecond" datePattern="yyyy-MM-dd-'T'HH-mm-ss"/>-->

    <!--    TODO make it work with logback-test-->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>at-compose-logs/${bySecond}.log</file>-->
<!--        <append>true</append>-->
<!--        <immediateFlush>true</immediateFlush>-->
<!--        <encoder>-->
<!--            <pattern>%msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <appender name="COMPOSE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="automation-tests" additivity="false">
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="COMPOSE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>